body {
    background-color: floralwhite;
}

img {
    width: 50%;
    display: block;
    margin: auto;
}

.header {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.breadlist {
    list-style-type: none;
    margin-left: 40px;
}

a:hover {
    color: red;
}

.tagline {
    color: darkolivegreen;
}